
:root {
  --bg-color: #ffffff;
  --text-color: #222;
  --primary-color: #2564eb;
  --card-bg: #f3f4f6;
  --primary: #6366f1;
  --transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  --text-muted: #64748b;
}

body.dark {
  --bg-color: #0f172a;
  --text-color: #f8fafc;
  --card-bg: #1e293b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Outfit", sans-serif;
  background: var(--bg-color);
  color: var(--text-color);
  transition: all 0.3s ease;
}

/* Navbar */
.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  background: var(--bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 4%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.353);
}

.logo {
   font-size: 1.8rem;
  font-weight: 800;
  letter-spacing: -0.5px;
  z-index: 1001;
}
.logo span {
  color: var(--primary);
}

.nav-links {
  display: flex;
  gap: 1.5rem;
}

.nav-links a {
  text-decoration: none;
  /* color: var(--text-color);
  font-weight: 600; */
   font-weight: 500;
  color: var(--text-color);
  position: relative;
  transition: var(--transition);
  
}

.nav-links a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -4px;
  left: 0;
  background: var(--primary);
  transition: var(--transition);
}

.nav-links a:hover {
  color: var(--primary);
}
.nav-links a:hover::after {
  width: 100%;
}

.nav-actions {
  display: flex;
  gap: 10px;
}

.theme-btn {
  background: var(--card-bg);
  border: none;
  padding: 6px 10px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 50px;
  transition: transform 0.2s, background 0.3s;
}

.theme-btn:hover {
  transform: scale(1.1);
  background: gray;
  color: white;
}

#themeToggle {
  cursor: pointer;
  padding: 6px 10px;
}

.menu-btn {
  display: none;
  font-size: 22px;
  cursor: pointer;
  background: none;
  border: none;
}

/* Hero */
.hero {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 10%;
}
.hero h1 span {
  color: var(--primary);
}
.hero h1 {
  font-size: 58px;
  font-weight: 900;
  margin-bottom: 15px;
}

.hero p {
  font-size: 18px;
  max-width: 600px;
  margin-bottom: 25px;
  color: var(--text-muted);
}

.primary-btn {
  padding: 12px 25px;
  border: none;
  background: var(--primary);
  color: rgb(255, 255, 255);
  font-size: 16px;
  cursor: pointer;
  border-radius: 30px;
  transition: transform 0.3s, background 0.3s;
}

.primary-btn:hover {
  transform: scale(1.05);
  background: #1547c1;
}

/* Services */
.services {
  padding: 80px 8%;
  text-align: center;
}

.services h2 {
  font-size: 50px;
  margin-bottom: 40px;
}

.service-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

.service-card {
  background: var(--card-bg);
  padding: 30px;
  border-radius: 10px;
  transition: transform 0.3s, box-shadow 0.3s;
}
.service-card p {
  color: var(--text-muted);
  margin-top: 15px;
}

.service-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

/* Footer */
.footer {
  margin-top: 50px;
  background: var(--card-bg);
  padding: 20px 8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.socials span {
  margin-left: 10px;
  cursor: pointer;
}

.social-buttons {
  display: flex;
  flex-direction: column;  
  gap: 1px;
  
}


.social-btn {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 8px 14px;
  border: none;
  border-radius: 20px;
  background: var(--card-bg);
  font-size: 14px;
  cursor: pointer;
  transition: transform 0.25s ease, background 0.3s ease, color 0.3s ease;
}

/* Hover micro-interaction */
.social-btn:hover {
  transform: scale(1.1);
  background: var(--primary-color);
  color: white;
}

.social-btn .icon {
  font-size: 16px;
}


/* Responsive */
@media (max-width: 768px) {
  .nav-links {
    position: absolute;
    top: 65px;
    right: 0;
    background: var(--bg-color);
    flex-direction: column;
    width: 200px;
    display: none;
    padding: 15px;
  }

  .nav-links.show {
    display: flex;
  }

  .menu-btn {
    display: block;
  }

  .service-grid {
    grid-template-columns: 1fr;
  }

  .hero h1 {
    font-size: 32px;
  }

  .social-buttons {
    flex-wrap: wrap;
    justify-content: center;
  }
}
